---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
		<style>
			.heroImg {
				position: relative;
			}

			#myphoto{
				heigth: 70em;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper{
				display: flex;
				flex-direction: row;				
			}

			.wrapper.bio {
				text-align: justify;
				max-width: 40em;	
				margin-top: 10em;			
			}

		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			
			<div class="heroImg">
				<h1>About me</h1>
				<img id="myphoto"
					src="../../assets/about.png"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					Hello there! I'm a full-stack web developer based in Barcelona.
				<br>
					Having spent a large part of my life in the health area, I've finally found my passion at the crossroads of technology. I started off as self taught followed by a full stack developer bootcamp. The one lesson that stood out throughout this journey was the importance of the SOLID principles and i try my best to keep them in mind everytime im coding.
				<br>
					When I'm not busy, you can find me training, out for a coffee, wlaking around somewhere like the beach, or trying a new healthy recipe.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
